.help-page{
    width: 100%;
    min-height: 1000px;
    margin-top: 85px;
}

.content{
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0;

    .chat-help{
        margin-top: 160px;
        display: flex;
        flex-direction: column;

        h1{
            font-size: 28px;
            margin-bottom: 10px;
            color: #666666;
            font-weight: 400;
        }

        .contact-help{
            width: 455px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            gap: 30px;
            font-size: 24px;
            color: rgba(238, 47, 83, 0.7);
            background-color: rgba(13, 76, 211, 0.2);;
        }
    }

    .frequently-asked-questions{
       width: 100%;
       

       h1{
        font-size: 28px;
        margin-bottom: 20px;
        color: #666666;
        font-weight: 400;
       }

       .block-accord{
            min-width: 1200px;
            height: 500px;
            display: flex;
            flex-direction: column;
            gap: 15px;

                .m-0{
                    line-height: 25px;
                    padding-left: 5px;
                    font-size: 18px;

                    li{
                        font-size: 18px;
                        list-style: none;
                        padding-left: 15px;

                    }
                }
                .p-accordion-header{
                    
                    height: 70px;

                    .p-accordion-header-text{
                        color:#0d4cd3;
                        height: 70px;
                        font-size: 24px;
                        line-height: 70px;
                        padding-left: 15px;

                    }
                }
            }

       }

}